@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(4, 12, 36);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100px;
    display: none;
}

#content {
    display: flex;
    justify-content: space-between;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .extra-container {
        display: grid;
        grid-template-columns: 20em 20em;
        margin-bottom: 100px;
        gap: 40px;
    }

    .extra-info{
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            color: rgb(206, 110, 0)
        }
    }
}

::placeholder {
    color: white;
}

#temp-variable {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    font-weight: 400;
    color: white;
    margin-left: 50px;
}

.weather-description {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-transform: capitalize;
    color: rgb(206, 110, 0);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    padding: 2rem 1rem;
    justify-content: center;
    display: flex;
    width: 70%;
    height: 20px;

    input {
        height: 1rem;
        border-color: black;
        margin-bottom: 20px;
        padding: 1rem;
        outline: 0;
        border-width: 0 0 2px;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        width: 30%;
        margin-right: 10px;
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        caret-color: rgb(206, 110, 0);     
    }

    button{
        height: 2rem;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        padding: .7rem;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        background-color: black;
        position: relative;
        top: 10px;
    }
}



