@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(24, 37, 78);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

img {
    width: 100px;
}

#content {
    display: flex;
    justify-content: space-between;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#temp-variable {
    color: white;
    font-size: 10rem;
    -webkit-text-stroke: 1px rgba(158, 139, 139, 0.692);
    font-weight: 400;
}

#form-container {
    width: 90%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
}

::placeholder {
    color: black;
}

form {
    padding: 2rem 1rem;
    justify-content: center;
    display: flex;
    width: 70%;

    input {
        height: 1rem;
        border-color: black;
        margin-bottom: 20px;
        padding: 1rem;
        outline: 0;
        border-width: 0 0 2px;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        width: 30%;
        margin-right: 10px;
    }

    button{
        height: 2rem;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        padding: .7rem;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        background-color: black;
        position: relative;
        top: 10px;
    }
}



